<head>
	<style global>
			@import "../styles/global.css";
	</style>
</head>

<header class="text-gray-400 bg-slate-900 body-font">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <nav class="flex lg:w-2/5 flex-wrap items-center text-sm font-bold md:ml-auto select-none">
      <a class="mr-5 text-base hover:text-white" href="/edu">Start Learning</a>
      <a class="mr-5 text-base text-white hover:cursor-not-allowed underline underline-offset-8 decoration-4 decoration-rose-400">Funding</a>
      <a class="mr-5 text-base hover:text-white" href="https://discord.gg/pUZDzswJ">Join Us</a>
    </nav>
    <a class="flex order-first lg:order-none w-1/3 md:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0"
        href="/">
      <span class="ml-3 text-xl xl:block lg:hidden">
	  	  <img src='/logoDAO.png'>
	    </span>
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
    </div>
  </div>
</header>

<section class="text-gray-400/90 bg-gray-900 body-font h-[100vh]">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-slate-800 rounded overflow-hidden">
        <div class="w-24 h-full bg-rose-500"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">Tokens made by the DAO</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">All the nft collections and tokens we've made, both for educational exercises and funding.</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 lg:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://github.com/BleedingEffigy/astro-portfolio/blob/master/public/assets/animateddoods.gif?raw=true">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">Cone Doods</h2>
        <p class="text-base leading-relaxed mt-2">6,000 tokens, made in public to serve as a learning exercise.
         These tokens will show the ways a token can be used to create and engage with a community.</p>
        <a class="text-rose-500 inline-flex items-center mt-3 w-full" href="https://conedoods.vercel.app/">Visit site
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a class="text-rose-500 inline-flex items-center mt-1 w-full" href="/">See source code
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 lg:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://cloudflare-ipfs.com/ipfs/QmZXemBmgrnpZvRvhW9qnDG5YDxS3x4UiJcjDGgGZ4Q3ib/0.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">Valentines Day NFT</h2>
        <p class="text-base leading-relaxed mt-2">An collection of ERC-1155 tokens, made using my girlfriends art.
        These tokens were used in a guide teaching users how to mint an nft through a Dapp.</p>
        <a class="text-rose-500 inline-flex items-center mt-3" href="https://valentines.ahernandez.dev/">Visit site
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="text-gray-400/90 bg-slate-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap md:text-left text-center order-first justify-around">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white/90 tracking-widest text-5xl lg:text-xl mb-3">Pages</h2>
        <nav class="list-none mb-10 space-y-3">
          <li>
            <a class="text-gray-400/90 hover:text-white/90 text-3xl lg:text-lg font-medium hover:cursor-not-allowed">Learning</a>
          </li>
          <li>
            <a class="text-gray-400/90 hover:text-white/90 text-3xl lg:text-lg font-medium hover:cursor-not-allowed">Funding</a>
          </li>
          <li>
            <a class="text-gray-400/90 hover:text-white/90 text-3xl lg:text-lg font-medium hover:cursor-not-allowed">Join Us</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white/90 tracking-widest text-5xl lg:text-xl mb-3">Socials</h2>
        <nav class="list-none mb-10 space-y-3">
          <li>
            <a class="text-gray-400/90 hover:text-white/90 text-3xl lg:text-lg font-medium hover:cursor-not-allowed">Twitter</a>
          </li>
          <li>
            <a class="text-gray-400/90 hover:text-white/90 text-3xl lg:text-lg font-medium hover:cursor-not-allowed">Discord</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white/90 tracking-widest text-5xl lg:text-xl mb-3">Subscribe</h2>
        <p class="text-xl mb-3">Get notified when we release our learning DAO</p>
        <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
          <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
            <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-800 rounded-full border bg-opacity-40 border-gray-700 focus:bg-transparent focus:ring-2 focus:ring-rose-900 focus:border-rose-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white/90 bg-rose-500 border-0 py-2 px-6 focus:outline-none hover:bg-rose-600 rounded-full">subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 bg-opacity-75">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white/90">
		<img src="logoDAO.png"/>
      </a>
      <p class="text-sm text-gray-400/90 sm:ml-6 sm:mt-0 mt-4">© 2022 Ephemeral Creations
        <a href="https://twitter.com/bleedingeffigy" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@bleedingeffigy</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-400/90">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400/90">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400/90">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400/90">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>