<head>
	<style global>
			@import "../styles/global.css";
	</style>
</head>

<header class="text-gray-400 bg-slate-900 body-font">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <nav class="flex lg:w-2/5 flex-wrap items-center text-sm font-bold md:ml-auto select-none">
      <a class="mr-5 text-base hover:text-white" href="/en/introduction">Start Learning</a>
      <a class="mr-5 text-base hover:text-white hover:cursor-not-allowed">Funding</a>
      <a class="mr-5 text-base hover:text-white" href="https://discord.gg/pUZDzswJ">Join Us</a>
    </nav>
    <a class="flex order-first lg:order-none w-1/3 md:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
      <span class="ml-3 text-xl xl:block lg:hidden">
	  	  <img src='/logoDAO.png'>
	    </span>
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
    </div>
  </div>
</header>

<section class="text-gray-400/90 bg-gray-900 body-font h-[100vh]">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-slate-800 rounded overflow-hidden">
        <div class="w-24 h-full bg-rose-500"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">Tokens made by the DAO</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">All the nft collections and tokens we've made, both for educational exercises and funding.</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 lg:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://github.com/BleedingEffigy/astro-portfolio/blob/master/public/assets/animateddoods.gif?raw=true">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">Cone Doods</h2>
        <p class="text-base leading-relaxed mt-2">6,000 tokens, made in public to serve as a learning exercise.
         These tokens will show the ways a token can be used to create and engage with a community.</p>
        <a class="text-rose-500 inline-flex items-center mt-3 w-full" href="https://conedoods.vercel.app/">Visit site
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a class="text-rose-500 inline-flex items-center mt-1 w-full" href="/">See source code
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 lg:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://cloudflare-ipfs.com/ipfs/QmZXemBmgrnpZvRvhW9qnDG5YDxS3x4UiJcjDGgGZ4Q3ib/0.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">Valentines Day NFT</h2>
        <p class="text-base leading-relaxed mt-2">An collection of ERC-1155 tokens, made using my girlfriends art.
        These tokens were used in a guide teaching users how to mint an nft through a Dapp.</p>
        <a class="text-rose-500 inline-flex items-center mt-3" href="https://valentines.ahernandez.dev/">Visit site
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>